* {
  margin: 0;
  padding: 0;
  border: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.header_main {
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .header_main {
    display: none;
  }
}
.header_text {
  display: flex;
  align-items: center;
}

.header_body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.header_body_input {
  width: 600px;
  height: 30px;
  border-radius: 10px;
  background-color: grey;
  color: black;
}

.body {
  background-color: #366EDC;
}
.body_menu {
  padding: 40px 80px;
}
.body_menu_btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
}
.body_menu_button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #7999db;
  border: none;
}
.body_menu_text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.body_menu_text_span {
  color: yellowgreen;
}

h1 {
  background-color: black;
  color: white;
}

.secwin {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.secwin_body {
  color: white;
  padding: 20px 20px;
}
.secwin_body_img {
  width: 250px;
}
.secwin_text {
  padding: 20px;
}
.secwin_text_tayp {
  display: flex;
  margin-bottom: 10px;
}
.secwin_text_tayp_span {
  color: yellowgreen;
}
@media screen and (max-width: 1175px) {
  .secwin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.login {
  display: flex;
  gap: 10px;
  background-color: black;
  padding: 50px;
}
.login_green {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: rgb(76, 176, 76);
  border-radius: 10px;
  color: white;
}
.login_green_img {
  position: absolute;
  left: 350px;
  bottom: 1px;
}
.login_green_menu {
  padding: 50px 50px;
}
.login_green_menu_text {
  display: flex;
  gap: 10px;
}
.login_green_menu_text_span {
  color: rgb(50, 205, 60);
}
.login_green_menu_btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(124, 187, 128);
  color: white;
}
.login_green_menu_button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(76, 176, 76);
  color: white;
}
.login_yellow {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: orange;
  border-radius: 10px;
  color: white;
}
.login_yellow_img {
  position: absolute;
  left: 350px;
  bottom: 0;
}
.login_yellow_menu {
  padding: 50px 50px;
}
.login_yellow_menu_text {
  display: flex;
  gap: 10px;
}
.login_yellow_menu_text_span {
  color: rgb(50, 205, 60);
}
.login_yellow_menu_btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(239, 196, 116);
  color: white;
}
.login_yellow_menu_button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: orange;
  color: white;
}
@media screen and (max-width: 1277px) {
  .login_yellow {
    display: none;
  }
}

.btn {
  width: 100%;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid grey;
  color: #366EDC;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.menu_body {
  color: white;
  padding: 20px 20px;
}
.menu_body_img {
  width: 400px;
}
@media screen and (max-width: 900px) {
  .menu_body_img {
    width: 300px;
  }
}
.menu_text {
  padding: 20px;
}
.menu_text_tayp {
  display: flex;
  margin-bottom: 10px;
}
.menu_text_tayp_span {
  color: yellowgreen;
}
@media screen and (max-width: 750px) {
  .menu_text_tayp {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */